html, body {
    background-color: #5e77c4;
    height: 100%;
}

.main-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 40px;
    margin-top: 20px;
    background-color: white;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.title > input, button {
    width: 600px;
}

.title > input {
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 15px;
}

.main-form {
    margin-bottom: 50px;
}

.tasks {
    padding: 10px;
    justify-content: left;
    color: white;
}

.tasks > a {
    justify-content: right;
}

.task {
    background-color: rgb(127, 77, 175);
    margin-bottom: 10px;
    padding: 10px;
}

.update-form {
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgb(127, 77, 175);
    color: white;
}

p > input {
    border-radius: 15px;
}

.delete-form {
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgb(127, 77, 175);
    color: white;
}